<div class="container-fluid" ng-app="app">
    <div class="row">
        <div class="col-lg-4">
            <ul class="breadcrumb">
                <li><a href="#viewUsers">View</a></li>
                <li class="active">Add</li>
            </ul>
            <h2>Add user</h2>
            <form role="form">
                <div hidden="true" class="input input-large">
                    <span class="input-group-addon" for="idAdd">Id :</span>
                    <input class="form-control input-large" type="text" ng-model="user.id" id="idAdd" required></div>
                <div class="input input-large">
                    <span class="input-group-addon" for="nameAdd">Name :</span>
                    <input class="form-control input-large" type="text" ng-model="user.name" id="nameAdd" required>
                </div>
                <div class="input input-large">
                    <span class="input-group-addon" for="phoneAdd">Phone :</span>
                    <input class="form-control input-large" type="text" ng-model="user.phone" id="phoneAdd" required>
                </div>
                <div class="input input-large">
                    <span class="input-group-addon" for="addressAdd">Address :</span>
                    <input class="form-control input-large" type="text" ng-model="user.address" id="addressAdd"
                           required></div>
                <div class="input input-large">
                    <span class="input-group-addon" for="postAdd">Post :</span>
                    <input class="form-control input-large" type="text" ng-model="user.post" id="postAdd" required>
                </div>
                <div class="input input-large">
                    <input type="button" class="btn btn-primary" ng-click="createUser()" value="Save"></div>
            </form>
        </div>
        <div class="col-lg-8"></div>
    </div>
</div>