<form name="deleteForm" ng-submit="ok()">
    <div class="modal-header">
        <h3 class="modal-title">{{header}}</h3>
    </div>
    <div class="modal-body">

        <flash-message duration="5000" show-close="true" on-dismiss="myCallback(flash);"></flash-message>

        <h4>
            {{confirmText}}
        </h4>
    </div>
    <div class="modal-footer">
        <button type="button" ng-click="cancel()" class="btn btn-danger btn-danger-custom">Отменить</button>
        <button type="submit" class="btn btn-success btn-success-custom">Подтвердить</button>
    </div>
</form>